
@font-face {
    font-family:inter ;
    src: url(fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
    

}









:root{
    
    --c-bg:rgb(3, 48, 48);
    --c-text:rgb(146, 206, 209);
    --c-h-sh:rgb(31, 189, 195);
    
    
    
    
     
    /* --c-bg:rgb(229,229,229); */
    /* --c-text:blue; */
    /* --h-sh:rgb(25, 35, 62); */    


}



/* scroll bar */

::-webkit-scrollbar{
    width: 0vw;
}

::-webkit-scrollbar-track{
    background-color: rgb(30, 32, 68);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(138, 43, 226,100%);
    transition: .6s;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ddd inset ;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #eec82e;
    
}

::-webkit-scrollbar-corner{
    background-color: #eec82e;
}

/* end scroll bar */

/* html{
    width: 100%;
    border: 10px solid black;
} */




body{
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
    /* background-color: chocolate; */
    overflow-x: hidden;
}


.section-1{
    position: relative;
    /* height: 190vh; */
    /* width: 100%; */
    display: grid;
    grid-template-areas: 
        "nav nav nav nav"
        "main main main main"
        "aside aside aside aside"
    ;
    grid-template-rows: 40px 30px auto;
    gap: 10px;
    background-color: var(--c-bg);

}



nav{
    grid-area: nav;
    text-align: center;
    /* background-color: rgb(0, 255, 242); */
    width: 100;


}

.headings{
    font-family: inter;
    text-shadow: 0px 0px 10px ;
    color: var(--c-h-sh);
    text-transform: uppercase;
    margin:8px ;
    font-size: 1.5rem;  
    letter-spacing: .5em;
    padding-left: 1em;
    /* background-color: black; */
}

aside{
    grid-area: aside;
    /* background-color: blue; */
    display: flex;
    padding: 10px 0px;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
    
    
}

header{
    position: relative;
    /* background-color: rgb(79, 7, 93); */
    flex: 1 1 500px;
    
    
    
   

}

.header2{
    /* background-color: red; */
    min-width: 500px;
    position: relative;
}




main{
    /* background-color: rgb(255, 221, 0); */
    grid-area:main ;
    display: grid;
    grid-template-areas: 
    "g g a1 a2 a3 a4 h h"
    
    ;
    gap: 10px;
    position: sticky;
    top: 5px;
    z-index: 99;
    
}

.link1{
    min-width: 60px;
    text-align: center;
    padding-top: 7px;
    font-family: inter;
    text-decoration: none;
    /* border-radius: 1px; */
    cursor: pointer;
    font-size: 13px;
    border-bottom: 1.5px solid rgb(67, 118, 110);
    color: rgb(74, 127, 106);
    background-color: rgb(3, 48, 48,.9);
    transition:.4s ;
}


.a1{
    grid-area: a1;

}

.a2{
    grid-area: a2;
    
}

.a3{
    grid-area: a3;

}

.a4{
    grid-area: a4;

}


.link1:hover{
    box-shadow: 0px 0px 10px var(--c-h-sh) inset;
    border-bottom: .2em solid var(--c-h-sh);
    color: var(--c-text);
}


/* shapes */
.shapes{
    background-color:rgb(146, 206, 209) ;
    box-shadow: 0px 0px 10px rgb(31, 189, 195);
    width: 2%;
    position: absolute;
    

}



.s-left{
    border-radius: 0px 2px 2px 0px;
    height: 60%;
    top: 150px;
    
}

.s-right{
    height:5.2%;
    border-radius:  0px 0px 0px 2px;
    top: 0px;
    right: 0px;
}

/* end shapes */



/* main 1 */

.header{
    position: relative;
    width: 80%;
    margin: 0px auto;
    /* background-color: #483f1c; */
    padding: 30px 20px;
    

}



.header .words{
    padding-left: 30px;

}

.header p:nth-child(1){
    color: var(--c-text);
    font-family: 'Courier New', Courier, monospace;
    
}

.header h1:nth-child(2){
    font-family: inter;
    font-size: 55px;
    
    color: rgb(17, 220, 169);
    /* background-image: linear-gradient(rgb(17, 220, 169),rgb(102, 191, 218)); */
    
    text-shadow: 0px 0px  3px  ;
    
}

.header h1:nth-child(3){
    margin-top: -20px;
    font-family: inter;
    font-size: 50px;
    color: rgb(167, 220, 207);
    white-space: nowrap;
}

.header p:nth-child(4){
    color: var(--c-text);
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: inter;
    line-height: 1.5;
    max-width: 440px;
    /* margin: auto; */
}

.link-cv{
    position: relative;
    font-family: 'inter';
    color:var(--c-h-sh) ;
    font-size: 18px;
    margin-top: 25px;
    display: inline-block;
    margin-left: 80%;
    z-index: 1000;
}

/* end main 1 */


#p-email{
    font-family: inter;
    font-size: 11px;
    letter-spacing: 2px;
    writing-mode: vertical-rl;
    position: absolute;
    right: 15px;
    top: 50vh;
    transform: translateY(-50%);
    color: rgb(31, 189, 195);
    text-shadow: 0px 0px 5px ;
    cursor: pointer;
    text-decoration: none;
    z-index: 999;
}

.kit{
    filter: opacity(.5);
    position: absolute;
    z-index: 999;
}

.k-html{
    height: 55px;
    left: 1em;
    top: 25px;
}

.k-body{
    height: 55px;
    left: 3em;
    top: -20px;
}

.k-p{
    height: 60px;
    left: 0%;
    top:10px;
}

.k-endp{
    height: 60px;
    right: 65%;
    top:45px;
}   


.k-h1{
    height: 45px;
    left: 2%;
    top:90px;
}

.k-endh1{
    height: 45px;
    right: -5%;
    top:245px;
}

.k-a{
    height: 250px;
    right: 20%;
    bottom: -17%;
}

.k-enda{
    height: 250px;
    right: -17.5%;
    bottom: -17%;
}

.k-dont{
    height: 240px;
    right: -10%;
    top: -30px;
}

.k-css{
    height: 250px;
    right: 5%;
    top: -100px;
    z-index: 1;
}

.k-code{
    height: 200px;
    right: 5%;
    top: -150px;
}


#div-img{
    height: 26em;
    width: 21em;
    background-color: var(--c-h-sh);
    position: relative;
    margin: auto;
    top:150px;
    box-shadow: 0px 0px 10px rgb(31, 189, 195);
    z-index: 100;
}

#div-img::before{
    background-color: var(--c-text);
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
    left: 93%;
    top: -5%;
    z-index: -9;
    box-shadow: 0px 0px 5px rgb(31, 189, 195);
}

#div-img::after{
    background-color: var(--c-text);
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
    left: -25px;
    top: 83.5%;
    /* z-index: 9; */
    box-shadow: 0px 0px 5px rgb(31, 189, 195);


}

#img1{
    height: 96%;
    width: 95%;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);     
    
    
}



















@media (max-width:768px)  {

    html{
        overflow-x: hidden;
    }


    .header2{
        padding: 100px 0px;
        min-width: 100%;
    }

    .header{
        width: 300px;
        text-align: center;
        padding:30px 0px;

    }

    .header .words{
        padding-left: 0px;
    }

    .link-cv{
        margin-left: 0px ;
        margin-top: 60px;
    }

    .header h1:nth-child(3){
        white-space: wrap;
    }

    .k-body{
        left: 3em;
        top: -20px;
    }
    
    .k-p{
        left: 12%;
        top:10px;
    }
    
    .k-endp{
        right: 12%;
        top:45px;
    }   
    
    
    .k-h1{
        left: -5%;
        top:80px;
    }
    
    .k-endh1{
        right: -5%;
        top:435px;
    }
    
    .k-a{
        right: 50%;
        bottom: -7%;
    }
    
    .k-enda{

        right: -17.5%;
        bottom: -15%;
    }

    .k-dont{
        height: 240px;
        right: -60%;
        top: -50px;
    }

    .k-css{
      display: none;
    }

    .k-code{
        /* display: block; */
        height: 500px;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        /* z-index: -9; */
    }

    #div-img{
        top:0px;
    }


}
